
  <p id="blockTitle">Contact</p>
  <a class=" decoration-none" target="_blank" href="mailto:18888351756@163.com"
    >18888351756@163.com</a
  >
  <a class=" decoration-none" target="_blank" href="https://github.com/CharleeWa"
    >Github</a
  >
<style>
a{
    @apply linkBase max-w-max
  }
</style>
